################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitTest4Studs/v16/Browse.VC.db
*.opendb
